.trapezio {
    width: 300px;
    height: 100px;
    background-color: var(--cor-secundaria);
    clip-path: polygon(0% 0%, 100% 0%, 85% 40%, 15% 40%);
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
}

.today-card {
    max-width: 630px;
    background-color: var(--cor-preto);
    /* box-shadow: 3px 2px 5px black; */
    border-radius: 10px;
}

.today-card h3 {
    border-bottom: 3px solid var(--cor-branco);
}

.today-card button {
    color: var(--cor-branco);
    background-color: var(--cor-primaria);
    max-width: 230px;
    border-radius: 10px;
}

.today-card button:hover {
    background-color: var(--cor-secundaria);
}

.today-card p {
    font-size: 20px;
    margin: 10px 0;
}

.calendar {
    max-width: 630px;
    padding: 30px;
    background-color: var(--cor-preto);
    /* box-shadow: 3px 2px 5px black; */
    border-radius: 10px;
}

.calendar p {
    margin: 0;
}

.favorito-div {
    text-align: left;
}

.favorito-div p {
    margin: 0;
}

.fav-driver-img {
    background-color: var(--cor-branco);
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}
