<h2 class="text-center mb-5">Login</h2>
<div class="mb-4">
    <label for="exampleInputEmail1" class="form-label">Nome de Usuário</label>
    <input type="text" class="form-control" name="usuario" required>
</div>
<div class="mb-4">
    <label for="exampleInputPassword1" class="form-label">Senha</label>
    <input type="password" class="form-control" name="senha" required>
</div>
<button type="submit" class="btn btn-primary">Entrar</button>
<p class="mt-2 form-text"><a href="#" onclick="changeToRegister()">Não possui conta?</a></p>