<h2 class="text-center mb-5">Registrar</h2>
<div class="mb-4">
    <label for="exampleInputEmail1" class="form-label">E-mail</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" name="email" required>
</div>
<div class="mb-4">
    <label for="exampleInputEmail1" class="form-label">Nome de Usuário</label>
    <input type="text" class="form-control" name="username" required>
</div>
<div class="mb-4">
    <label for="exampleInputEmail1" class="form-label">Primeiro Nome</label>
    <input type="text" class="form-control" name="firstName" required>
</div>
<div class="mb-4">
    <label for="exampleInputEmail1" class="form-label">Último nome</label>
    <input type="text" class="form-control" name="lastName" required>
</div>
<div class="mb-4">
    <label for="exampleInputEmail1" class="form-label">Data de Nascimento</label>
    <input type="date" class="form-control" name="birthday" required>
</div>
<div class="mb-4">
    <label for="exampleInputPassword1" class="form-label">Senha</label>
    <input type="password" class="form-control" name="password" required>
</div>
<button type="submit" class="btn btn-primary">Registrar</button>
<p class="mt-2 form-text"><a href="#" onclick="changeToLogin()">Já possui conta?</a></p>