<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyNascar - Erro</title>
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo.png}">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>

    <div class="container text-center py-5">
        <h1>Ocorreu um <span class="err">erro</span></h1>
        <p id="errorMsg"></p>
    </div>

    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/pages/error.js}"></script>
</body>
</html>