<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyF1 - Perfil</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <script src="../../static/js/bootstrap.bundle.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../../static/css/global.css">
</head>
<body>
    <div id="header"></div>
    
    <script src="../../static/js/main.js"></script>
</body>
</html>