<div class="gp-container">
    <div class="gp-content mx-auto mt-4" onclick="toggleDetails(this)">
        <div class="flag-info">
            <div id="flag-container">
                <!-- Imagem da bandeira -->
            </div>
            <div class="location-texts text-start">
                <p class="session-name">GP CHINA</p>
                <p class="circuit-name">Shangai</p>
            </div>
        </div>
        <div class="date-info text-center">
            <p class="session-days">21 - 23</p>
            <!-- <p class="session-month">MAR</p> -->
        </div>
    </div>

    <div class="gp-details">
        <div class="gp-day">
            <span class="day-name">Treino Livre 1</span>
            <span class="day-date">Dia 21 (00:00 - 00:00)</span>
        </div>
        <div class="gp-day">
            <span class="day-name">Classificatório</span>
            <span class="day-date">Dia 22 (00:00 - 00:00)</span>
        </div>
        <div class="gp-day">
            <span class="day-name">Corrida</span>
            <span class="day-date">Dia 23 (00:00 - 00:00)</span>
        </div>
    </div>
</div>